body {
    font-family: "Roboto", "Raleway";
    color: var(--tittle-text--color);
    }

    /* wecstudio-section-main*/
    /* надо ли здесь ставить белый цвет шрифта, если его (пока что) не будет видно на макете?*/
    .main-section-tittle-text{
        color: var(--main-tittle-text-color);
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        }

.first-text-section-studio h3{
        color: var(--tittle-text--color);
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
}
.first-text-section-studio p{
        color: var(--text-allcolor)
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em
    }


/* what we doo section*/

.first-section-title {
        color: var(--tittle-text--color);
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
    }

/* our team section*/
    .second-section-title {
        color: var(--tittle-text--color);
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
    }

.second-section-text h3{
        color: var(--tittle-text--color);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .second-section-text p{
        color: var(--text-all);
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
    }

/* portfolio text section*/

    .portfolio-images-text h3{
        color: var(--tittle-text--color);
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        }

    .portfolio-images-text p{
        color: var(--text-all);
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
    }
/* footer adress*/
.adress-in-foot{
    font-style: normal;
}

/* links */

    .link:hover {
        color: var(--buttons-active-color); (0,0,0,0);
    }
    .link:active{
        color: var(--buttons-active-color); (0,0,0,0);
    }
    .link:focus {
        color: var(--buttons-active-color), 100 %; (0,0,0,0);
    }

/*buttons on portfolio pg*/
    .buttons {
        background: #F5F4FA;
        color: var(--tittle-text--color);
    }
    .buttons:hover{
        background: var(--buttons-active-color); (0,0,0,0);
        color: var(--main-tittle-text-color);
    }
    .buttons:focus {
        background: var(--buttons-active-color); (0,0,0,0);
        color: var(--main-tittle-text-color);
    }
    .buttons:active {
        background: var(--buttons-active-color); (0,0,0,0);
        color: var(--main-tittle-text-color);
    }
    .buttons{
        cursor: pointer;
    }
    
/* studio button pg*/
    .studio-button{
    background: var(--buttons-active-color);
    color: var(--main-tittle-text-color);
    }
    .studio-button{
        cursor: pointer;
    }
/*root-section-css*/
    :root {
        --main-tittle-text-color:  #FFFFFF;
    }
    :root {
        --text-all:  #757575;
    }
    }
    :root {
        --tittle-text--color:  #212121;
    }
    :root {
        --buttons-active-color:  #2196F3;
    }